<nb-layout>
    
    <nb-layout-header fixed>
      <h1>Create a form</h1>
    </nb-layout-header>
  
    <nb-layout-column>
      
        <nb-tabset>
          <nb-tab tabTitle="Customize"  class="center">

        <div class="center">
          <input nbInput fieldSize="giant" type="text" required placeholder="Form title"
          [(ngModel)]="formTitle" name="formTitle">
        </div>
<!-- 
      <table class="table">
        <thead>
          <tr>
            <th>Question</th>
            <th>Type</th>
            <th>Required</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions">
          <td>{{question.label}}</td>
          <td *ngIf="question.controlType === 'textbox'"><nb-icon icon="minus"></nb-icon></td>
          <td *ngIf="question.controlType === 'textarea'"><nb-icon icon="menu"></nb-icon></td>
          <td *ngIf="question.controlType === 'radio'"><nb-icon icon="smiling-face"></nb-icon></td>
          <td><span *ngIf="question.required;else not_required"><nb-icon icon="checkmark"></nb-icon></span></td>
          <ng-template #not_required> </ng-template>
          <td><button nbButton ghost (click)="delete(question)"><nb-icon icon='trash' status="danger"></nb-icon></button></td>
          </tr>
        </tbody>
      </table> -->

      <app-preview-form (onDeleteClicked)="delete($event)"[questions]=questions [form]=form [formTitle]=formTitle></app-preview-form>

      <div class="center">
      <button class="button" nbButton status={{addButtonStatus}} shape="round" (click)="onAddElement()" ><nb-icon icon={{addButtonIcon}}></nb-icon></button>
      <ng-container *ngIf="showAddButtons">
          <div>
              <button class="button" nbButton  status={{textboxButtonStatus}} shape="round" (click)="onAddTextBoxElement()" ><nb-icon icon="minus"></nb-icon>Short</button>
              <button class="button" nbButton  status={{textareaButtonStatus}} shape="round" (click)="onAddTextAreaElement()" ><nb-icon icon="menu"></nb-icon>Long</button>
              <button class="button" nbButton  status={{radioButtonStatus}} shape="round" (click)="onAddRadioElement()" ><nb-icon icon="more-vertical"></nb-icon>Choice</button>
              <button class="button" nbButton  status={{emojiButtonStatus}} shape="round" (click)="onAddEmojiElement()" ><nb-icon icon="smiling-face"></nb-icon>Emoji</button>
          </div>
      </ng-container>
      </div>

      <ng-container *ngIf="showFormQuestionInput">
      <div>
      <form #form="ngForm" (ngSubmit)="onSubmitQuestion(form)">
        <div class="form-group">
          <div class="titleInput">
            <input status={{selectedInputStatus}} nbInput type="text" class="form-control" id="questionLabel" required placeholder="Your question title"
              [(ngModel)]="questionLabel" name="questionLabel">

            <span class="requiredToggle">
              <nb-toggle labelPosition="start" status={{selectedInputStatus}} class="form-control" id="requiredToggle" placeholder="Insert question"
              [(ngModel)]="questionisRequired" name="requiredToggle">Required?</nb-toggle>
            </span>
          </div>

          <div *ngIf="showChoiceInput">
            <nb-icon ghost status='success' (click)="removeRadioChoice()" icon="minus"></nb-icon>
            {{radioChoices.length}}
            <nb-icon ghost status='danger' (click)="addRadioChoice()" icon="plus"></nb-icon>

            <div *ngFor="let choice of radioChoices; let i = index">
              {{i+1}}
              <input status={{selectedInputStatus}} nbInput type="text" class="form-control" id="radioChoice{{i+1}}" required placeholder="Option {{i+1}}" name="option{{i+1}}"
              ngModel>
            </div>
          </div>
          <div class="buttonConfirm">
            <button nbButton status="success" shape="round"  class="btn btn-success" type="submit" [disabled]="!form.valid"><nb-icon icon="checkmark"></nb-icon></button>
          </div>
        </div>
      </form>
      </div>


    </ng-container>
    </nb-tab>
    
    <nb-tab tabTitle="Settings">
      <h1>Settings</h1>
    </nb-tab>

   </nb-tabset>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <button nbButton hero status="success" shape="round" (click)="onClickGenerateForm()" class="btn btn-success" [disabled]="!allowGeneration">
      Generate form
      <nb-icon icon="chevron-right"></nb-icon>
    </button>
  </nb-layout-footer>

  </nb-layout>