<nb-layout>
    
    <nb-layout-header fixed>
        <div><h1>Fiid</h1></div>

    </nb-layout-header>
  
    <nb-layout-column>
        <div  class="center">
            <button class="center" nbButton status="success" shape="round" routerLink="/new" class="btn btn-success">New form<nb-icon icon="file-add"></nb-icon></button>
        </div>
        <div  class="center">
            <button class="center" nbButton status="info" shape="round" class="btn btn-success" (click)="showFormResultsInput = !showFormResultsInput">
                Results<nb-icon icon="activity"></nb-icon>
            </button>
        </div>
        <div *ngIf="showFormResultsInput" class="center">
            <h3>Find form results</h3>
            <input status="basic" nbInput fieldSize="medium" shape="round" type="text" id="formUrl" name="formUrl" placeholder="Form ID" [(ngModel)]="formUUID">
            <button nbButton status="success" shape="round" (click)="onGoToResults()"><nb-icon icon="chevron-right"></nb-icon>
            </button>
        </div>
    </nb-layout-column>

    <nb-layout-footer fixed>
    <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>