<div [ngSwitch]="question.controlType" [formGroup]="form">
    <div class="input-label"><label>{{question.label}} </label></div>
    <div><input nbInput fullWidth  *ngSwitchCase="'textbox'" [type]="question.textboxtype" [formControlName]="question.key"></div>

     <div *ngSwitchCase="'textarea'">
      <textarea nbInput fullWidth [rows]="question.rows" [formControlName]="question.key"></textarea>
    </div>

    <div *ngSwitchCase="'radio'">
      <input nbInput fullWidth *ngSwitchCase="'radio'" id="key" [formControlName]="question.key"> 
    </div>

</div>