.input {
    margin-bottom: 24px;
}

.input-label {
    margin-bottom: 24px;
}

.emoji-icon {
    font-size: 3rem;
    margin: 5px;
}

.emoji-radio [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.emoji-radio [type=radio] + fa-icon {
    cursor: pointer;
}

.emoji-radio [type=radio]:checked + fa-icon {
    outline: 2px solid #f00;
}
