<nb-layout>
    
    <nb-layout-header fixed>
    <!-- Insert header here -->
    </nb-layout-header>
  
    <nb-layout-column>
  
  
      <div>
        <h2>Create a form</h2>
      </div>
      <div>
        <h3>Add a form question</h3>
      </div>
      <div>
      <button (click)="onAddElement()" >{{buttonName}}</button>
      <ng-container *ngIf="showAddButtons">
          <div>
              <button (click)="onAddTextBoxElement()" >Textbox</button>
              <button (click)="onAddTextAreaElement()" >Textarea</button>
              <button (click)="onAddRadioElement()" >Radio</button>
          </div>
      </ng-container>
  
      <ng-container *ngIf="showFormQuestionInput">
      <div>
      <form>
        <div class="form-group">
          <label for="question">Question: </label>
          <input type="text" class="form-control" id="question" required placeholder="Insert question"
            [(ngModel)]="questionLabel" name="first">
        </div>
      </form>
      </div>
      <button (click)="onSubmitQuestion()" class="btn btn-success">Add question</button>
    </ng-container>
    </div>

    <div>
    <h3>Questions</h3>
    </div>
    <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Label</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
      <td>{{question.key}}</td>
      <td>{{question.label}}</td>
      <td>{{question.controlType}}</td>
      <td><button (click)="delete(question)">Remove</button></td>
      </tr>
    </tbody>
  </table>

  <div>
    <button (click)="onClickGenerateForm()" class="btn btn-success">Generate form</button>
  </div>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

  </nb-layout>