<nb-layout>
    
    <nb-layout-header fixed>
        <div><h3>Fiid - Simple feedback forms</h3></div>

    </nb-layout-header>
  
    <nb-layout-column>
        <div class="center">
            <div>
                <h4>Find a form</h4>
                <input status="success" nbInput fieldSize="medium" shape="round" type="text" id="formUrl" name="formUrl" placeholder="Form ID" [(ngModel)]="formUUID" class="button">
                <button nbButton status="success" shape="round" (click)="onGoToForm()"><nb-icon icon="search"></nb-icon></button>
            </div>

            <div>
                <button class="center" nbButton status="success" shape="round" routerLink="/new" class="button" >New form<nb-icon icon="file-add"></nb-icon></button>
            </div>
            <div>
                <button class="center" nbButton status="info" shape="round" class="button" (click)="showFormResultsInput = !showFormResultsInput">
                    Results<nb-icon icon="activity"></nb-icon>
                </button>
            </div>
            <div *ngIf="showFormResultsInput">
                <h4>Find form results</h4>
                <input status="info" nbInput fieldSize="medium" shape="round" type="text" id="formUrl" name="formUrl" placeholder="Form ID" [(ngModel)]="formResultsUUID">
                <button nbButton status="info" shape="round" (click)="onGoToResults()" class="button"><nb-icon icon="search" ></nb-icon></button>
            </div>
        </div>
    </nb-layout-column>

    <nb-layout-footer fixed>
    <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>