.center {
    text-align: center;
}

.button {
    text-align: center;
    margin: 10px;
}

.buttonConfirm {
    margin-top: 30px;
}

.buttonBack {
    margin-right: 20px;
}

.titleInput {
    margin-top: 10px;
}

.requiredToggle {
    margin-left: 10px;
}