<label class="emoji-radio">
    <input type="radio" name="frown" [value]=1 (click) ="emojiClick($event)">
    <fa-icon class="emoji-icon" [icon]="faFrown" fa-lg [styles]="{'color': faFrownColor}"></fa-icon>
  </label>

  <label class="emoji-radio">
    <input type="radio" name="meh" [value]=2 (click)="emojiClick($event)">
    <fa-icon class="emoji-icon" [icon]="faMeh" fa-lg [styles]="{'color': faMehColor}"></fa-icon>
  </label>

  <label class="emoji-radio">
    <input type="radio" name="smile" [value]=3 (click)="emojiClick($event)">
    <fa-icon class="emoji-icon" [icon]="faSmile" fa-lg [styles]="{'color': faSmileColor}"></fa-icon>
  </label>